.calc-container {
  max-width: 300px;
  left: 10px;
  top: 150px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #747272;
  background-color: #f5f0f0;
  border-radius: 20px;
  position: fixed;
  z-index: 9999;
  cursor: move;
  text-align: center;
}

.calc-card {
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  box-sizing: border-box;
}

.calc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 5px;
}

.calc-form-row {
  display: flex;
  flex-direction: column;
}

.calc-form-control {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

.calc-container label {
  font-size: 12px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calc-container input {
  background-color: #fcfcfc;
  color: #666666;
  text-align: center;
  font-size: large;
  text-transform: uppercase;
  padding: 5px;
  height: 35px;
}
.calc-container input[readonly] {
  background-color: #cbc9c9;
  color: #666666;
  cursor: not-allowed;
}
.calc-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.calc-button {
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background-color: #5a5959;
  color: white;
  cursor: pointer;
  font-size: 10px;
}

.calc-button:hover {
  background-color: #4e4e4e;
}
